body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #faf8ef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}
.win-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00ff00; /* You can customize the color */
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  display: none;
}

.win-message.animate {
  animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.header {
  margin-bottom: 20px;
}

.game-container {
  border: 5px solid #bbada0;
  border-radius: 6px;
  width: 320px;
  height: 320px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  background-color: #ccc0b3;
  border-radius: 6px;
}

.tile.tile-2 {
  background-color: #a9f9e9;
}

.tile.tile-4 {
  background-color: #4dffb5;
}

.tile.tile-8 {
  background-color: #4daaf0;
}

.tile.tile-16 {
  background-color: #3744d2;
}

.tile.tile-32 {
  background-color: #ffaafb;
}

.tile.tile-64 {
  background-color: #fa70ea;
}

.tile.tile-128 {
  background-color: #de189c;
}

.tile.tile-256 {
  background-color: #d7fb75;
}

.tile.tile-512 {
  background-color: #7d9901;
}

.tile.tile-1024 {
  background-color: #f74272;
}

.tile.tile-2048 {
  background-color: #cb53fb;
}

/* Style for merged tiles */
.tile-merged {
  animation: mergedTile 0.1s linear;
}

@keyframes mergedTile {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
